<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Title
    <input type="text" name="post[title]" value="">
  </label>
  <label for="">URL
    <input type="text" name="post[url]" value="">
  </label>
  <label for="">Content
    <input type="text" name="post[content]" value="">
  </label>

  <br>
  <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input
        type="checkbox"
        name="post[sub_ids][]"
        value="<%= sub.id %>"
      >
    </label>
    <br>
  <% end %>

  <input type="submit" name="name" value="Create Post">
</form>
